<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>购票列表</title>
    <!--微信UI-->
    <link href="http://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" rel="stylesheet">
    <style type="text/css">
        span{
            color: red;
        }
    </style>
</head>
<body>
 <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">你好，username，你已经成功购买了<span>n</span>张票</div>
            <div class="weui-panel__bd">
                <a href="tickle.html">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">票一</h4>
                    <p class="weui-media-box__desc">第1场 A队 VS B队 10月5日15:30 座位：A3 88</p>
                </div>
                </a>

                <a href="">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">票二</h4>
                    <p class="weui-media-box__desc">第2场 C队 VS D队 10月5日17:30 座位：C3 11</p>
                </div>
                </a>  
            </div>
           
        </div>



    <footer class="weui-footer">
        <p class="weui-footer_test">&copy; 深圳大学乒乓球俱乐部 2017</p>
    </footer>
</body>
</html>