<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>乒超智能赛事</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1， user-scalable=0, maximum-scale=1.0">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <!--微信UI-->
    <link href="https://cdn.bootcss.com/weui/1.1.1/style/weui.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="css/bootstrap-theme.min.css">-->
    <script src="../../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <style type="text/css">
        
      
    </style>
</head>

<body>

    <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
      <header class='demos-header'>
      <h1 >南山区第七届中小学生乒乓球比赛</h1>
    </header>
    <article class="weui-article">
      <!-- <h1>南山区第七届中小学生乒乓球比赛</h1> -->
      
        <section>
          <h3>-、比赛时间和地点</h3>
          <p>
            比赛时间：7月26-31日</br>
            比赛地点：南山区体育馆
          </p>
         
            <img src="../../img/2015_01_01.jpg" alt="">
            <!-- <img src="./images/pic_article.png" alt=""> -->
          
        </section>
        <section>
          <h3>二、参赛单位</h3>
          <p>
            南山区中小学生
          </p>
        </section>
        <section>
          <h3>二、参赛单位</h3>
          <p>
            南山区中小学生
          </p>
        </section>
        <section>
          <h3>三、竞赛项目</h3>
          <p>
            甲组男子团体<br/>
            女子团体、男子单打、女子单打、男子双打、女子双打，混合双打。
            乙、丙、丁组男子团体、女子团体、男子单打、女子单打。
          </p>
        </section>
         <pre>
四、参加办法
（一）参赛资格：
1、参赛运动员必须符合《2015—2018年江西省青少年体育竞赛管理规定》中参赛运动员资格的有关规定。
2、凡报名运动员及教练员必须由各设区市统一于当年在省球类运动管理中心办理注册手续。运动员参赛时须出示《江西省青少年运动员注册证》，否则一律不允许参加比赛。2017年度未经注册的教练员名单一律不上秩序册。
3、赛前将对九年义务教育阶段运动员进行文化测试，凡测试不合格者一律不得参赛。
4、江西省青少乒乓球锦标赛各单项（包括团体）前三名的运动员，必须在全国进行注册，不注册的运动员取消下一年度比赛资格。
（二）年龄规定：
甲组：限2001年1月1日至2002年12月31日内出生者。
乙组：限2003年1月1日至2004年12月31日内出生者。
丙组：限2005年1月1日至2006年12月31日内出生者。
丁组：限2007年1月1日至2008年12月31日内出生者，另可报2009年及以后出生的运动员男女各2名。
（三）人员规定：
1、编内人员：各单位可报领队1人。运动员：南昌 人，九江 人，上饶 人，鹰潭 人，景德镇 人，萍乡 人，宜春 人，新余 人，吉安 人，抚州 人，赣州 人。工作人员按编内运动员人数的8∶1配备，编内参赛运动员不足8人的单位可报1名教练员。
2、允许编外人员报名。但教练员总人数须按本单位参赛运动员人数10∶1配备。
3、参赛单位各组别可报男、女各1个团体。每个团体由3至4名运动员组成，上场比赛的三名运动员，其中一名运动员必须为特殊打法选手（女运动员为直拍或颗粒胶进攻型打法；男运动员为直拍、颗粒胶进攻型或削球打法）。
4、甲组运动员每人最多可参加两个单项的比赛。
(四)所有业训教练员必须在省体育局青少年信息管理系统中注册，未注册的教练员不得担任全省青少年锦标赛教练员工作（不能报名参加比赛，不能上秩序册），所有注册运动员必须捆绑已注册的教练员才能通过注册（包括新注册、确认运动员）。
（五）教练员必须携带《教练员课时计划》方可参加2017年全省青少年锦标赛的教练员工作：
1、设区市级训练单位、省级单项基地的教练员必须携带2016年9月1日至2017年全省青少年锦标赛比赛之日的训练计划；
2、县区教练员必须携带2017年1月1日至2017年全省青少年锦标赛比赛之日的训练计划；
3、教练员在比赛报到时交大会竞赛处。
4、各项目竞委会将组织专人对教练员训练计划进行评比。对训练计划书写优良者给予通报表扬（并作为评选“江西省100精英教练员”的重要依据），对训练计划书写不合格者、不交训练计划的教练员给予通报批评及成绩册点名批评，对不交训练计划的教练员还将取消所带运动员达优达良资格及代表队团体总分
（六）参赛运动员必须携带二代身份证原件，无二代身份证、失效二代身份证、临时身份证等均不予参赛。
（七）以下人员不得参加年度青少年比赛
1、正式进入省优秀运动队（含解放军队）运动员；
2、省优秀运动队从外省招收的运动员；
3、代表外省市在国家注册或在外省市注册的运动员；
4、不服从省球类中心选调集试训和全国注册的运动员；
（八）所有参赛人员必须是身体健康者，且必须由参赛单位或个人办理本次比赛期间的人身意外伤害保险。否则，一切后果自负。
（九）本次比赛食宿由大会统一安排。
          </pre>

          
        </section>
    </article>


    <a href="form.html">
        <button class = "weui-btn weui-btn_primary" >
        点我报名
        </button>
    </a>
    <footer class="weui-footer">
        <p class="weui-footer_test">&copy; 深圳大学乒乓球俱乐部 2017</p>
    </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="../js/vendor/jquery-1.11.2.min.js"><\/script>')
    </script>
    <!--<script src="../js/vendor/bootstrap.min.js"></script>-->

</body>

</html>