
<html>


<head>
<style>
#header
{
        background-color:#EEE8AA;
        color:black;
        text-align:center;
        padding:5px;
}

#nav
{
        line-height:30px;
        background-color:#eeeeee;
        height:600px;
        width:200px;
        float:left;
        padding: 2px;
}

#section
{
        width: 350px;
        float: left;
        padding : 10px;
}

#footer
{
        background-color: #AFEEEE;
        color: black;
        clear: both;
        text-align: center;
        padding : 5px;
}
</style>
</head>

<body>

<div id="header">
<h1>
积分商城
</h1>
</div>

<div id="nav">
<h3>积分规则</h3>
<p>
欢迎来到积分商城！<br/>
购票一次即可获得100积分，依此累加，积分在一年内有效，相应的积分可以兑换相应的奖品，如下：<br/>
<ul>
      <li>签名照</li>
      <li>签名球拍</li>
      <li>球赛门票</li>
      <li>球星合照</li>
</ul>
</p>
</div>

<div id="section">
<ol start="I">
<li><a href="/html/photo.html"><h2><b>签名照</b></h2></a>
<table border="1" bgcolor="green">
<tr>
  <td>300</td>
</tr>
</table>
</li>
<br/>
<li>
<a href="/html/bool.html"><h2><b>签名球拍</b></h2></a>
<table border="1" bgcolor="green">
<tr>
  <td>400</td>
</tr>
</table>
</li>
<br/>
<li>
<a href="/html/ticket.html"><h2><b>门票</b></h2></a>
<table border="1" bgcolor="green">
<tr>
  <td>500</td>
</tr>
</table>
</li>
<br/>
<li>
<a href="/html/ming.html"><h2><b>球星合照</b></h2></a>
<table border="1" bgcolor="green">
<tr>
  <td>600</td>
</tr>
</table>
</li>
</ol>
</div>


<div id="footer">
<b>深圳市深大乒乓球俱乐部</b>
<div>


</body>
</html>